<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Land Search Page</title>
    <style>
        .float {
            float: left;
            border: 2px solid #000;
            padding: 5px;
        }
    </style>
</head>
<body>
<script type="text/javascript" src="/js/home.js"></script>
<!--<script src="webjars/jquery/3.6.0/jquery.js"></script>-->
    <div>
        <input id="complexCode" type="text" placeholder="아파트 코드 입력"/>
        &nbsp
        <input value="전체조회" type="button" onclick="dataSelectAll()"/>
        &nbsp
        <input value="단건히스토리" type="button" onclick="dataSelect()"/>
        &nbsp
        <input value="단건등록하기" type="button" onclick="dataSend()"/>
        &nbsp
        <input value="전체업데이트" type="button" onclick="dataUpdateAll()"/>
        &nbsp
        <input value="전체추천매물" type="button" onclick="dataRecommend()"/>
    </div>
    <div>
        <input value="서울" type="button" onclick="dataAddress('서울시')"/>
        <input value="추천" type="button" onclick="dataRecommend()"/>
        <input value="갱신" type="button" onclick="dataUpdateAllByAddress('서울시')"/>
        &nbsp
        <input value="경기" type="button" onclick="dataAddress('경기도')"/>
        <input value="추천" type="button" onclick="dataRecommend()"/>
        <input value="갱신" type="button" onclick="dataUpdateAllByAddress('경기도')"/>
        &nbsp
        <input value="인천" type="button" onclick="dataAddress('인천시')"/>
        <input value="추천" type="button" onclick="dataRecommend()"/>
        <input value="갱신" type="button" onclick="dataUpdateAllByAddress('인천시')"/>
        &nbsp
        <input value="대전" type="button" onclick="dataAddress('대전시')"/>
        <input value="추천" type="button" onclick="dataRecommend()"/>
        <input value="갱신" type="button" onclick="dataUpdateAllByAddress('대전시')"/>
        &nbsp
        <input value="세종" type="button" onclick="dataAddress('세종시')"/>
        <input value="추천" type="button" onclick="dataRecommend()"/>
        <input value="갱신" type="button" onclick="dataUpdateAllByAddress('세종시')"/>
        &nbsp
        <input value="광주" type="button" onclick="dataAddress('광주시')"/>
        <input value="추천" type="button" onclick="dataRecommend()"/>
        <input value="갱신" type="button" onclick="dataUpdateAllByAddress('광주시')"/>
        &nbsp
        <input value="부산" type="button" onclick="dataAddress('부산시')"/>
        <input value="추천" type="button" onclick="dataRecommend()"/>
        <input value="갱신" type="button" onclick="dataUpdateAllByAddress('부산시')"/>
        &nbsp
        <input value="강원" type="button" onclick="dataAddress('강원도')"/>
        <input value="추천" type="button" onclick="dataRecommend()"/>
        <input value="갱신" type="button" onclick="dataUpdateAllByAddress('강원도')"/>
        &nbsp
        <input value="경북" type="button" onclick="dataAddress('경상북도')"/>
        <input value="추천" type="button" onclick="dataRecommend()"/>

        <input value="갱신" type="button" onclick="dataUpdateAllByAddress('경상북도')"/>
        &nbsp
        <input value="경남" type="button" onclick="dataAddress('경상남도')"/>
        <input value="추천" type="button" onclick="dataRecommend()"/>
        <input value="갱신" type="button" onclick="dataUpdateAllByAddress('경상남도')"/>
        &nbsp
        <input value="전북" type="button" onclick="dataAddress('전라북도')"/>
        <input value="추천" type="button" onclick="dataRecommend()"/>
        <input value="갱신" type="button" onclick="dataUpdateAllByAddress('전라북도')"/>
        &nbsp
        <input value="전남" type="button" onclick="dataAddress('전라남도')"/>
        <input value="추천" type="button" onclick="dataRecommend()"/>
        <input value="갱신" type="button" onclick="dataUpdateAllByAddress('전라남도')"/>
        &nbsp
        <input value="충북" type="button" onclick="dataAddress('충청북도')"/>
        <input value="추천" type="button" onclick="dataRecommend()"/>
        <input value="갱신" type="button" onclick="dataUpdateAllByAddress('충청북도')"/>
        &nbsp
        <input value="충남" type="button" onclick="dataAddress('충청남도')"/>
        <input value="추천" type="button" onclick="dataRecommend()"/>
        <input value="갱신" type="button" onclick="dataUpdateAllByAddress('충청남도')"/>
    </div>
    <HR/>
    <div id="dataContent">
        <!--<p id="result"></p>
        <a id="link" target="_blank">[바로보기]</a>-->
    </div>

    <div id="dialog" style="font-size: 6px; width: max-content; height: max-content">
    </div>
</body>
</html>