<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Land Search Page</title>
</head>
<body>
<script type="text/javascript" src="/js/home.js"></script>
<!--<script src="webjars/jquery/3.6.0/jquery.js"></script>-->
    <div>
        <label>아파트 코드 입력 : </label>
        <input id="complexCode" type="text" />
    </div>
    <input value="등록하기" type="button" onclick="dataSend()"/>
    &nbsp
    <input value="히스토리" type="button" onclick="dataSelect()"/>
    &nbsp
    <input value="전체조회" type="button" onclick="dataSelectAll()"/>
    <HR/>
    <div id="dataContent" style="font-size:6px">
        <!--<p id="result"></p>
        <a id="link" target="_blank">[바로보기]</a>-->
    </div>
</body>
</html>